<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CommuteAssist</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Blog-Recent-posts-list.css">
    <link rel="stylesheet" href="assets/css/ebs-contact-form.css">
    <link rel="stylesheet" href="assets/css/Good-login-dropdown-menu.css">
    <link rel="stylesheet" href="assets/css/Pretty-Login-Form.css">
    <link rel="stylesheet" href="assets/css/user.css">
</head>

<body> -->
    <div class="container" id="info-container">
        <form class="bootstrap-form-with-validation">
            <h2 class="text-center">Commute Tracker</h2>
            <div class="form-group has-feedback">
                <label class="control-label sr-only" for="starttime">Start Time</label>
                <input class="form-control" type="datetime-local" name="start-time" placeholder="Start Time" autofocus="" id="start-time">
                <i class="form-control-feedback  fa fa-calendar-times-o" aria-hidden="true"></i></div>
            <div class="form-group has-feedback">
                <label class="control-label sr-only" for="startlocation">Start Location</label>
                <input class="form-control" type="text" name="start-location" placeholder="Start Location" id="start-location">
                <i class="form-control-feedback fa fa-location-arrow" aria-hidden="true"></i></div>
            <div class="form-group has-feedback">
                <label class="control-label sr-only" for="endtime">End Time</label>
                <input class="form-control" type="datetime-local" name="end-time" placeholder="End Time" autofocus="" id="end-time">
                <i class="form-control-feedback  fa fa-calendar-times-o" aria-hidden="true"></i></div>
            <div class="form-group has-feedback">
                <label class="control-label sr-only" for="endlocation">End Location</label>
                <input class="form-control" type="text" name="start-location" placeholder="End Location" id="end-location">
                <i class="form-control-feedback fa fa-location-arrow" aria-hidden="true"></i></div>
            <button class="btn btn-primary" type="submit">Start</button>
            <button class="btn btn-primary" type="submit">Stop</button>
        </form>
    </div>
    <!-- <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
 -->