<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title> - jsFiddle demo</title>
    < <style type="text/css">
        </style>
        <script type="text/javascript">
        //<![CDATA[ 
        window.onload = function() {
                var watchID = null;

                // PhoneGap is ready
                //
                function f() {
                    // Update every 1 ms seconds
                    var options = {
                        enableHighAccuracy: true,
                        timeout: 5000,
                        maximumAge: 0,
                        desiredAccuracy: 0,
                        frequency: 1
                    };
                    watchID = navigator.geolocation.watchPosition(onSuccess, onError, options);
                }


                // function postdata(position) {
                //     xhttp.open("POST", "http://ec2-52-201-234-19.compute-1.amazonaws.com/api/locations", true);
                //     xhttp.setRequestHeader("Content-type", "application/json;charset=utf-8");
                //     xhttp.send("{"entity":"1","latitude":"1","longitude":"1","time":"1"}");

                // }


                // onSuccess Geolocation
                //
                function onSuccess(position) {

                    var str = 'Latitude: ' + position.coords.latitude + '<br>' +
                        'Longitude: ' + position.coords.longitude + '<br>' +
                        'Timestamp: ' + position.timestamp + '<br>\r\n';

                    // postdata(position);

                    $.ajax({
                            method: "POST",
                            url: "https://ec2-54-209-134-122.compute-1.amazonaws.com:8443/api/locations",
                            // url: "https://localhost:8443/api/locations",
                            data: {
                                entity: "678 642 7482",
                                latitude: position.coords.longitude,
                                longitude: position.coords.longitude,
                                time: position.timestamp
                            }
                        })
                        .done(function(msg) {
                            // alert("Data Saved: " + msg);
                        });


                    document.getElementById('result').value += str;
                }

                // clear the watch that was started earlier
                // 
                function clearWatch() {
                    if (watchID != null) {
                        navigator.geolocation.clearWatch(watchID);
                        watchID = null;
                    }
                }

                // onError Callback receives a PositionError object
                //
                function onError(error) {
                    alert('code: ' + error.code + '\n' +
                        'message: ' + error.message + '\n');
                }

                document.getElementById('button').addEventListener('click', f);
            } //]]>
        </script>
</head>

<body>
    <p id="geolocation">Watching geolocation...</p>
    <button id="button"> Watch</button>
    <textarea id="result" cols="100" rows="10"></textarea>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
</body>

</html>
