<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CommuteAssist</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/user.css">
    <link rel="stylesheet" href="assets/css/Blog-Recent-posts-list.css">
    <link rel="stylesheet" href="assets/css/ebs-contact-form.css">
    <link rel="stylesheet" href="assets/css/Good-login-dropdown-menu.css">
    <link rel="stylesheet" href="assets/css/Projects-Clean.css">
</head>

<body>
 -->
<!-- <div> -->
<div class="container" id="info-container">
    <!-- <div class="row">
                <div class="col-md-12">
                <h2 class="text-center">Register User</h2>
 -->
    <div class="row login-form">
        <div class="col-md-4 col-md-offset-4">
            <div class="col-md-6 col-sm-6 col-xs-12 site-form">
                <h2 class="text-center form-heading">Login</h2>
                <form id="my-form">
                    <!-- <h2 class="text-center">Bootstrap form basic</h2> -->
                    <div class="form-group has-feedback">
                        <label class="control-label sr-only" for="firstname">First Name</label>
                        <input class="form-control" type="text" name="firstname" placeholder="First Name" autofocus="" id="firstname"><i class="form-control-feedback fa fa-user" aria-hidden="true"></i></div>
                    <div class="form-group has-feedback">
                        <label class="control-label sr-only" for="lastname">Last Name</label>
                        <input class="form-control" type="text" name="lastname" placeholder="Last Name" id="lastname"><i class="form-control-feedback fa fa-user" aria-hidden="true"></i></div>
                    <div class="form-group has-feedback">
                        <label class="control-label sr-only" for="phonenumber">Phone Number</label>
                        <input class="form-control" type="tel" name="phonenumber" required="" placeholder="Phone" id="phonenumber"><i class="form-control-feedback fa fa-phone" aria-hidden="true"></i></div>
                    <!-- <div class="form-group has-feedback">
                                <label class="control-label sr-only" for="email">Email Address</label>
                                <input class="form-control" type="text" name="email" required="" placeholder="Email" id="email"><i class="form-control-feedback fa fa-envelope" aria-hidden="true"></i></div> -->
                    <!-- <div class="form-group has-feedback">
                                <label class="control-label sr-only" for="messages">Last Name</label>
                                <textarea class="form-control" rows="8" name="messages" required="" placeholder="Message"></textarea><i class="form-control-feedback fa fa-pencil" aria-hidden="true"></i></div> -->
                    <button class="btn btn-default btn-lg" type="submit" id="form-btn">SEND </button>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- </div> -->
<!-- <script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
 -->
